{% comment %}
    Ce formulaire est utilisé à la fois pour un ajout et pour une édition
    C'est le pourquoi de l'existence du gros IF dans l'action du form
{% endcomment %}

<form action="{% if edit == "true" %}{% url commentaire_modifier token formation.id commentaire.id %}{% else %}{% url commentaire_ajouter token formation.id %}{% endif %}"
    method="post" class="form-auf {% if is_hidden == "true" %}hidden{% endif %}">
    {% csrf_token %}

    {% for field in form %}
        {% include "form_field.html" with field=field %}
    {% endfor %}

    {% if edit == "true" %}
        <input type="submit" name="submit" class="btn btn-success" value="Modifier votre commentaire">
        <button class="btn btn-info annuler">Annuler</button>
    {% else %}
        <input type="submit" name="submit" class="btn btn-success" value="Envoyer votre commentaire">
    {% endif %}

</form>