{% extends "base_formation.html" %}
{% load statusLabel %}

{% block Contenu %}
<div class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>

        <div class="clear"></div>
        <h4 class="pull-left">
            Commentaires - {{ formation.nom }}
            <span class="label {{ formation.statut|statusClass }}">{{ formation.statut|statusLabel }}</span>
        </h4>

        {% include "formation/boutons_workflow.html" %}

        <div class="clear"></div>
        {% include "formation/modifier_onglets.html" with active_tab="commentaires" %}

        {% include "cartographie/messages.html" %}

        {% include "formation/commentaire/form.html" %}

        {% if commentaires %}
        <hr>
        <ul class="commentaires unstyled">
            {% for commentaire in commentaires %}
                <li>
                    <p class="muted pull-left">
                        Publié
                        {% if commentaire.user_display %}
                            par <b>{{ commentaire.user_display }}</b>
                        {% endif %}
                        le {{ commentaire.date|date:"d F Y à h:m:s" }}
                    </p>
                    {% if request.user.id == commentaire.user.id and user.is_authenticated %}
                    <div class="commentaire_actions pull-left">
                        <a class="btn btn-info btn-small modifier" href="{% url commentaire_modifier token formation.id commentaire.id %}">
                            <i class="icon icon-pencil icon-white"></i>
                        </a>
                        <a class="btn btn-danger btn-small supprimer" href="{% url commentaire_supprimer token formation.id commentaire.id %}">
                            <i class="icon icon-remove-sign icon-white"></i>
                        </a>
                    </div>
                    {% endif %}
                    <div class="clear"></div>
                    <p class="commentaire">
                        {{ commentaire.commentaire }}
                    </p>
                    {% include "formation/commentaire/form.html" with edit="true" is_hidden="true" form=commentaire.get_form_with_data %}
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="alert alert-info">
            Aucun commentaire pour l'instant
        </div>
        {% endif %}
    </div>
</div>
{% include "formation/popup.html" %}
{% endblock %}
