# binaires
*.pyc
*.pyo

# Fichier temporaires:
.*.swp
*~
\#*#
src/*
# DB de dev
*.db
*.sqlite
# restants de merge
*.orig
*.rej
# Configuration du projet - par environnement
conf.py
django.wsgi
# buildout
.installed.cfg
bin
build
develop-eggs
downloads
eggs
log
parts
tmp
sitestatic
media

# Vagrant pour le poste local de Bernard
/mysql-dumps/
/*.pdf
.vagrant
