
[buildout]
extends = versions.cfg
versions = versions
unzip = true
parts = django
versions = versions

find-links = http://pypi.auf.org/simple/auf.recipe.django
    http://pypi.auf.org/simple/auf.django.piwik
    http://pypi.auf.org/simple/auf.django.references

eggs =
    auf.recipe.django
    auf.django.piwik
    django
    south
    django-admin-tools
    raven
    auf.django.references

[django]  
recipe = auf.recipe.django 
wsgi=true  
settings=production 
project = cartographie
extra-paths = cartographie
eggs = ${buildout:eggs}
