{% extends "base.html" %}
{% block Contenu %}
<div class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>

        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_langue_liste token %}">Liste des langues</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                Ajouter une langue
            </li>
        </ul>

        <h4>Ajouter une langue</h4>
        <hr>
        {% include "langue/form.html" with form=form %}
    </div>
</div>
{% endblock %}