{% extends "base.html" %}
{% load removeSelectMultipleHelpText %}

{% block Contenu %}
<span class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>

        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                Ajouter une formation
            </li>
        </ul>

        <h4>Ajouter une formation</h4>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Informations de base</a>
            </li>
            <li class="disabled">
                <a href="javascript:void(0)">
                    Établissement(s) impliqué(s)
                </a>
            </li>
        </ul>
        <form action="{% url formation_ajouter token %}" method="post"
              class="form-horizontal form-auf">
            {% csrf_token %}

            {% for field in form %}
                {% include "form_field.html" with field=field %}
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success"
                           value="Ajouter la formation">
                </div>
            </div>
        </form>
    </div>
</span>
{% endblock %}
