<div class="boutons-statut pull-right">
    {% if 'redaction' in boutons %}
       <a href="{{boutons.redaction.url}}"
          class="btn {{ boutons.redaction.class }}">{{ boutons.redaction.label }}</a>
    {% endif %}

    {% if 'supprimer' in boutons %}
       <a href="{{boutons.supprimer.url}}"
          class="btn btn-danger {{ boutons.supprimer.class }}">{{ boutons.supprimer.label }}</a>
    {% endif %}

    {% if 'publier' in boutons %}
       <a href="{{boutons.publier.url}}"
          class="btn btn-success {{ boutons.publier.class }}">{{ boutons.publier.label }}</a>
    {% endif %}

    {% if 'valider' in boutons %}
       <a href="{{boutons.valider.url}}"
          class="btn btn-info {{ boutons.valider.class }}">{{ boutons.valider.label }}</a>
    {% endif %}
</div>
