{% extends "base_formation.html" %}
{% load statusLabel %}

{% block Contenu %}
<span class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>
        <div class="clear"></div>
        <h4 class="pull-left">
            Modifier une formation - {{ formation.nom }}
            <span class="label {{ formation.statut|statusClass  }}">
                {{ formation.statut|statusLabel }}
            </span>
        </h4>

        {% if peut_modifier_workflow %}
        {% include "formation/boutons_workflow.html" %}
        {% endif %}

        <div class="clear"></div>

        {% include "formation/modifier_onglets.html" with active_tab="info" %}

        {% include "cartographie/messages.html" %}

        <form action="{% url formation_modifier token formation.id %}" method="post"
              class="form-horizontal form-auf">
            {% csrf_token %}

            {% for field in form %}
                {% include "form_field.html" with field=field %}
            {% endfor %}

            {% if formation.statut == statuts_formation.en_redaction %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success"
                           value="Enregistrer">
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</span>
{% include "formation/popup.html" %}

{% endblock %}
