{% extends "base.html" %}

{% block Contenu %}
<span class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>

        <h4>Modifier une formation - {{ formation.nom }}</h4>

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Informations de base</a>
            </li>
            <li>
                <a href="{% url formation_modifier_etablissements token formation.id %}">
                    Établissement(s) impliqué(s)
                </a>
            </li>
        </ul>
        <form action="{% url formation_modifier token formation.id %}" method="post"
              class="form-horizontal form-auf">
            {% csrf_token %}

            {% for field in form %}
                {% include "form_field.html" with field=field %}
            {% endfor %}

            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-success"
                           value="Enregistrer">
                </div>
            </div>
        </form>
    </div>
</span>
{% include "formation/popup.html" %}

{% endblock %}
