{% extends "base_formation.html" %}
{% load statusLabel %}

{% block Contenu %}
<div class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>

        <div class="clear"></div>
        <h4 class="pull-left">
            Fichiers - {{ formation.nom }}
            <span class="label {{ formation.statut|statusClass }}">{{ formation.statut|statusLabel }}</span>
        </h4>

        {% if peut_modifier_workflow %}
            {% include "formation/boutons_workflow.html" %}
        {% endif %}

        <div class="clear"></div>
        {% include "formation/modifier_onglets.html" with active_tab="fichiers" %}

        <div>
                
                <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                        {% csrf_token %}
                        {% for field in form %} 
                              <div class="control-group">
                                {% if not field.is_hidden %}<label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>{% endif %}
                                    <div class="controls">
                                      {{ field }}
                                    </div>
                                </div>
                                {% endfor %}
                                <hr/>
                {% endfor %}
                <input type="submit" value="Envoyer">
                </form>
        </div>
    </div>
</div>
{% endblock %}
