{% extends "base_formation.html" %}
{% load removeSelectMultipleHelpText %}
{% load statusLabel %}

{% block Contenu %}
<div class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>

        <div class="clear"></div>
        <h4 class="pull-left">
            Modifier les établissements - {{ formation.nom }}
            <span class="label {{ formation.statut|statusClass }}">{{ formation.statut|statusLabel }}</span>
        </h4>

        {% include "formation/boutons_workflow.html" %}

        <div class="clear"></div>
        {% include "formation/modifier_onglets.html" with active_tab="etablissements" %}

        <form action="{% url formation_modifier_etablissements token formation.id %}" method="post" class="form-auf">
            {% csrf_token %}

            <h5>Établissement dispensant la formation</h5>
            <table class="table table-stripped table-bordered table-condensed">
                <tr>
                    <td>
                        {% include "form_field.html" with field=form.etablissement %}
                    </td>
                    <td>
                        {% include "form_field.html" with field=form.etablissement_emet_diplome %}
                    </td>
                </tr>
            </table>
            <hr>
            <h5>
                Composante(s) de l'établissement dispensant la formation

                {% if formation.statut == statuts_formation.en_redaction %}
                    <a href="{% url formation_composante_ajouter_popup token %}"
                       class="btn btn-info pull-right modal-composante">
                        <i class="icon-plus icon-white"></i>
                        Ajouter une composante
                    </a>
                {% endif %}
            </h5>
            <p>
                Composante(s) de l'établissement
                <b class="text-info">{{ etablissement.nom }}</b>
                impliquée(s) dans la formation
                <b class="text-info">{{ formation.nom }}</b>.<br />
                Indiquer ici si la formation est dispensée par une composante particulière de l'établissement (une faculté, une école dans une université, un laboratoire dans un centre de recherche...).<br />
                Sélectionnez une composante de votre établissement dans la liste déroulante.<br />
                Vous pouvez ajouter à la liste une nouvelle composante de votre établissement en cliquant sur le bouton à droite.
            </p>
            {{ composanteFormset.management_form }}
            <table class="table table-striped table-bordered table-condensed">
                {% for current_form in composanteFormset.forms %}
                <tr>
                    {% for field in current_form %}
                        <td class="{% if field.label == "Formation" or field.label == "Id"  %}hidden{% endif %}">
                            {% include "form_field.html" with field=field %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <hr>

            <h5>Partenaire(s) membre de l'AUF impliqué(s) dans la formation</h5>
            <p>
                Partenaire(s) membre de l'AUF
                impliqué(s) dans la formation
                <b class="text-info">{{ formation.nom }}</b>.
            </p>

            {{ partenaireAufFormset.management_form }}
            <table class="table table-striped table-bordered table-condensed">
                {% for current_form in partenaireAufFormset.forms %}
                <tr>
                    {% for field in current_form %}
                        <td class="{% if field.label == "Formation" or field.label == "Id"  %}hidden{% endif %}">
                            {% include "form_field.html" with field=field %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            <hr>

            <h5>
                Partenaire(s) <b class="text-info">non membre</b> de l'AUF impliqué(s) dans la formation

                {% if formation.statut == statuts_formation.en_redaction %}
                    <a href="{% url formation_partenaire_autre_ajouter_popup token %}"
                        class="btn btn-info pull-right modal-partenaire-autre">
                        <i class="icon-plus icon-white"></i>
                        Ajouter un partenaire <b>non membre</b>
                    </a>
                {% endif %}
            </h5>
            <p>
                Partenaire(s) <b class="text-info">non membre</b> de l'AUF
                impliqué(s) dans la formation
                <b class="text-info">{{ formation.nom }}</b>.<br />
                Sélectionnez un établissement dans la liste déroulante.<br />
                Vous pouvez ajouter à la liste un nouvel établissement non membre de l'AUF en cliquant sur le bouton à droite.
            </p>
            {{ partenaireAutreFormset.management_form }}
            <table class="table table-striped table-bordered table-condensed">
                {% for current_form in partenaireAutreFormset.forms %}
                <tr>
                    {% for field in current_form %}
                        <td class="{% if field.label == "Formation" or field.label == "Id"  %}hidden{% endif %}">
                            {% include "form_field.html" with field=field %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

            {% if formation.statut == statuts_formation.en_redaction %}
            <div class="actions">
                <input type="submit" class="btn btn-success" value="Enregistrer">
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% comment %}
structure du popup pour l'ajout d'une composante !
{% endcomment %}
<div id="popup-form-composante" class="modal hide fade" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter une composante</h3>
    </div>
    <div class="modal-body">
    </div>
</div>

{% comment %}
structure du popup pour l'ajout d'un établissement non membre de l'AUF !
{% endcomment %}
<div id="popup-form-partenaire-autre" class="modal hide fade" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter un partenaire non membre</h3>
    </div>
    <div class="modal-body">
    </div>
</div>
{% include "formation/popup.html" %}
{% endblock %}
