{% comment %}
structure du popup pour l'ajout d'une langue !
{% endcomment %}
<div id="popup-form-langue" class="modal hide fade" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter une langue</h3>
    </div>
    <div class="modal-body">
    </div>
</div>

{% comment %}
structure du popup pour l'ajout d'un responsable !
{% endcomment %}
<div id="popup-form-responsable" class="modal hide fade" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter un responsable</h3>
    </div>
    <div class="modal-body">
    </div>
</div>

{% comment %}
structure du popup pour l'ajout d'un contact !
{% endcomment %}
<div id="popup-form-contact" class="modal hide fade" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter un contact</h3>
    </div>
    <div class="modal-body">
    </div>
</div>