{% extends "base_tableau_de_bord.html" %}

{% block Contenu %}
    <div class="span12">
        <div class="content">
            <h2 class="pull-left">Tableau de bord</h2><h5 class="pull-right">Bienvenue {{ request.user.username }}</h5>
            <div class="clear"></div>
            {% include "dashboard_liste_onglets.html" %}

            {% include "msg_user_sans_region.html" %}

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic consectetur nisi tempora odit id totam itaque aliquid inventore assumenda qui repudiandae nobis praesentium eligendi quidem iste iure excepturi aperiam officia!</p>
        </div>
    </div>
{% endblock %}