{% extends "base_tableau_de_bord.html" %}
{% load statusLabel %}

{% block Contenu %}
    <div class="span12">
        <div class="content">
            <h2 class="pull-left">
                Tableau de bord - Statistiques
            </h2>
            <h5 class="pull-right">Bienvenue {{ request.user.username }}</h5>
            <div class="clear"></div>

            {% include "dashboard_liste_onglets.html" %}
            
            {% if user_sans_region %}
                <h3>Formations sous votre gestion</h3>
                
                {% include "msg_user_sans_region.html" %}
            {% else %}
                <h3>{{ total_nb_formations_sous_gestion }} formations sous votre gestion</h3>
                
                <h4>Par statut</h4>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tbody>
                        {% for stat in totaux_par_statut %}
                        <tr>
                            <td class="span1">{{ stat.total }}</td>
                            <td>{{ stat.statut|statusLabel }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <h4>Par établissement</h4>
                <table class="table table-striped table-bordered table-hover table-condensed">
                  <tbody>
                        {% for stat in totaux_par_etablissements %}
                        <tr>
                            <td class="span1">{{ stat.total }}</td>
                            <td>{{ stat.etablissement__nom }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <hr />
            
            <h3>{{ total_nb_formations }} formations au total dans le monde</h3>

            <h4>Par région</h4>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                    {% for stat in totaux_par_regions %}
                    <tr>
                        <td class="span1">{{ stat.total }}</td>
                        <td>{{ stat.etablissement__region__nom }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>Par pays</h4>
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tbody>
                    {% for stat in totaux_par_pays %}
                    <tr>
                        <td class="span1">{{ stat.total }}</td>
                        <td>{{ stat.etablissement__pays__nom }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
