{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}

{% block extrastyle %}
    {{ block.super }}

{% endblock %}

{% block bodyclass %}any-pwd-reset{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
    {% if request.user.is_staff and request.user.is_superuser %}
        <h2>Modifier le mot de passe de n'importe quel usager</h2>
        <form action="#" method="post" id="any-pwd-reset-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Modifer le mot de passe de l'usager">
        </form>
    {% else %}
    <p>Vous n'avez pas les accès nécessaire pour modifier le mot d'un passe de n'importe quel usager.</p>
    {% endif %}
</div>
{% endblock %}
