@import "../../commun/less/auf-base.less";

@bleu_auf: #0088CC;

// en-tête

#map {
    height: 450px;
}

#entete {
    line-height: 30px;
    margin-right: 35px;
}

ul.nav.en-tete {
  margin: 0;
  padding: 0 10px;
}

.nav-pills.en-tete > li > a {
    line-height: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
}

#entete > span.titre-premier,
#entete > span.titre-second {
    display: block;
    font-size: 20px;
}

#entete > span.titre-premier {
  margin-top: 14px;
}

#entete > span.titre-second {
    font-weight: bold;
}

.subtitle {
  color: @gray;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
}

div#info-formations {
    .circle-background(90px);
    display: inline-block;
    margin-top: 5px;
    margin-left: 50px;
    z-index: 9999;
}

div#info-disciplines {
    .circle-background(100px);
    display: inline-block;
    margin-left: -5px;
}

div#info-etablissements {
    .border-top-bottom(75px, 300px);
    margin-top: 12.5px;
    margin-left: 50px;
    
}

div#info-pays {
    .border-top-bottom(75px, 200px);
    margin-top: 12.5px;
}

#etablissement-liste {
  .ui-accordion-header {
    color: lighten(@auf_bleu, 10%);
    cursor: default;

    .icon-chevron-down {
      padding-top: 0.5em;
      background-position: -313px -116px;
    }
  }

  ul li {
    font-size: 1.10em;
    line-height: 150%;
  }
}

.border-top-bottom (@height: 100px, @width: 200px) {
    height: @height;
    width: @width;
    border-top: 1px black solid;
    border-bottom: 1px black solid;

    span.preambule {
  margin-top: 5px;
    }

    p.highlight {
  font-size: 3.5em;
  margin-top: (@height / 4);
  display: inline-block;
  margin-bottom: 0;
    }

    p.info {
  display: inline-block;
  font-size: 2em;
  margin-top: @height / 4;
  font-variant: small-caps;
    }
}

.circle-background (@radius: 50px) {
    width: @radius;
    height: @radius;
    border-radius: (@radius / 2);
    text-align: center;
    text-color: #ffff;
    background-color: black;
    color: white;

    p.highlight {
  font-size: 1.5em;
  padding-top: (@radius / 3.5);
  vertical-align: bottom;
  margin-bottom: 0;
    }

    p.detail {
  font-size: 1.25em;
  margin-bottom: 10px;
  font-variant: small-caps;
    }

}

div.navbar {
    background-color: lighten(@bleu_auf, 50%);
}

div#statistiques {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;

  p.huge {
    font-size: 4em;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
  }
}

#last {
  padding-left: 10px;
}

#last p {
  font-size: 1.25em;
}

ul.nav.nav-pills > li > span.title {
    background-color: red;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;

    line-height: 14px;
    border-radius: 5px;

    display: block;
}

.search-form {
    form, .control-group {margin:0;}
    label {font-weight:bold;}
}

form div.optional {
    display: none;
}

#search-bar {
    text-align: center;
    margin-bottom: 1em;
}

#filter-bar, #advanced-bar {
    text-align: center;
    margin-bottom: 1em;
}

#advanced-wrap {
  margin-bottom: 1em;
}

#advanced-filters {
  display: none;
}

.advanced-field {
  display: block;
}

.advanced-field .input-prepend {
  margin-bottom: 8px;
}

.disciplines li{
  line-height: 1.5em;
}

.enfant {
  display: block;
  margin-top: 10px;
}

.enfant a {
  display: block;
}

.expired {
  background-color: #ffcccc !important;
}

.expired td {
  background-color: #ffcccc !important;
}

@import "form.less";
