@import "../../commun/less/auf-base.less";

.search-form {
    form, .control-group {margin:0;}
    label {font-weight:bold;}
}

form div.optional {
    display: none;
}

#search-bar {
    text-align: center;
    margin-bottom: 1em;
}

#filter-bar {
   text-align: center;
   margin-bottom: 1em;
}

@import "form.less";
