/*
    Les modifications custom pour l'AUF se retrouvent dans ce
    fichier *.less
 */
@import "auf-twitter-bootstrap.less";

body {
    font-family: Arial, Helvetica, Sans-serif;
    color: #616161;
}

.pull-left {float:left;}
.pull-right {float:right;}

.clear {
    clear:both;
    width:100%;
    height:0;
    font-size:0;
    line-height:0;
}

.container {
    border-left: 8px solid #e9e9ea;
    border-right: 8px solid #e9e9ea;
}

/*
    ôter le margin left du premier element avec la classe
    spanX dans une .row
*/
.row {
    margin-left:0;

    [class*=span]:first-child {
        margin-left:0;
    }
}

/*
    l'arc-en-ciel AUF
 */
.rainbow {
    overflow:hidden;

    .elem {
        display:block;
        height:5px;
        float:left;
        width:20%;
    }

    .bleu {
        background-color: @auf_bleu;
    }
    .jaune {
        background-color: @auf_jaune;
    }
    .vert {
        background-color: @auf_vert;
    }
    .mauve {
        background-color: @auf_mauve;
    }
    .rouge {
        background-color: @auf_rouge;
    }
}

/* Header */
header {
    height:125px;
    overflow:hidden;

    .logo {
        margin:0;
    }

    .rainbow {
        margin:0 22px 0 0;
    }
}

/* Corps */
#main {

}

.content {
    padding:22px;
}

/* Footer */
footer {
    margin-top:6px;

    .rainbow {
        margin-bottom:15px;
    }

    .copyright {
        font-size:0.8em;
        color: #a3a4a7;
    }
}