{% load removeSelectMultipleHelpText %}

<div class="control-group {% if field.errors %}warning{% endif %}">
    <label
        class="control-label {% if field.field.required %}bold{% endif %}"
        for="{{ field.auto_id }}">
        {{ field.label|safe }}
        {{ field.required }}
    </label>
    <div class="controls">
        {{ field }}

        {% if field.errors %}
            {{ field.errors }}
        {% endif %}

        {% if field.help_text %}
            <p class="help-block">
                <span class="muted">
                    {{ field.help_text|removeSelectMultipleHelpText }}
                </span>
            </p>
        {% endif %}

        {% if "DELETE" in field.auto_id %}
            <p class="help-block">
                <span class="muted">
                    Cocher si vous souhaitez enlever cet établissement de la fiche formation <b class="text-info">{{ formation.nom }}</b>
                </span>
            </p>
        {% endif %}

        {% comment %}
            Les liens ci-dessous activent des popups d'ajout dans le formulaire
            de modification d'une fiche formation.
        {% endcomment %}

        {% if field.auto_id == "id_langue" %}
            <br>
            <a href="{% url formation_langue_ajouter_popup token %}" class="btn btn-small btn-info modal-langue">
                <i class="icon-plus icon-white"></i>
                Ajouter une {{ field.label|lower }}
            </a>
        {% endif %}

        {% if field.auto_id == "id_responsables" %}
            <br>
            <a href="{% url formation_personne_ajouter_popup token %}" class="btn btn-small btn-info modal-responsable">
                <i class="icon-plus icon-white"></i>
                Ajouter un responsable
            </a>
        {% endif %}

        {% if field.auto_id == "id_contacts" %}
            <br>
            <a href="{% url formation_personne_ajouter_popup token %}" class="btn btn-small btn-info modal-contact">
                <i class="icon-plus icon-white"></i>
                Ajouter un contact
            </a>
        {% endif %}
    </div>
</div>