{% extends "base.html" %}
{% block Contenu %}
<span class="span12">
    <div class="content">
        <h3>{{ etablissement.nom }}</h3>
        <h4>Liste des formations</h4>
        <div class="clear"></div>
        <div class="actions pull-right">
            <a href="{% url formation_ajouter token %}" class="btn btn-info pull-right">
                <i class="icon icon-plus icon-white"></i>
                Ajouter une formation
            </a>
        </div>

        <div class="clear"></div>

        {% if formations %}
        <table class="table striped table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Formation
                    </th>
                    <th>
                        Nom d'origine
                    </th>
                    <th>Sigle</th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for f in formations %}
                <tr>
                    <td>
                        <p><a href="{% url formation_modifier token f.id %}">
                            {{ f.nom }}
                        </a></p>
                    </td>
                    <td>
                        <p><a href="{% url formation_modifier token f.id %}">
                            {{ f.nom_origine }}
                        </a></p>
                    </td>
                    <td>
                        <p><a href="{% url formation_modifier token f.id %}">
                            {{ f.sigle }}
                        </a></p>
                    </td>
                    <td>
                        <a class="btn"
                           href="{% url formation_modifier token f.id %}">
                           <i class="icon icon-pencil"></i>
                            Modifier
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Votre établissement ne possède pas encore de formation !
        </div>
        {% endif %}
    </div>
</span>
{% endblock %}