{% extends "base.html" %}
{% load removeSelectMultipleHelpText %}

{% block Contenu %}
<span class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_liste token %}">Liste des formations</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                {{ formation.nom }}
            </li>
        </ul>

        <h4>Modifier les établissements d'une formation</h4>

        <ul class="nav nav-tabs">
            <li>
                <a href="{% url formation_modifier token formation.id %}">
                    Informations de base
                </a>
            </li>
            <li class="active">
                <a href="javascript:void(0)">
                    Établissement(s)
                </a>
            </li>
        </ul>


        <form action="{% url formation_modifier_etablissements token formation.id %}" method="post" class="form-auf">
            <h5>Composante(s) de formation</h5>
            <table class="table striped table-bordered table-hover table-condensed">
                {% for current_form in composanteFormset.forms %}
                <tr>
                    {% for field in current_form %}
                        {% if field.label != "Formation" and field.label != "Id"  %}
                            <td>
                                <div class="control-group {% if field.errors %}warning{% endif %}">
                                    <label class="control-label" for="id_{{ field.html_name }}">
                                        {{ field.label|safe }}
                                    </label>
                                    <div class="controls">
                                        {{ field }}

                                        {% if field.help_text %}
                                            <p class="help-block">
                                                <span class="muted">
                                                    {{ field.help_text|removeSelectMultipleHelpText }}
                                                </span>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</span>
{% endblock %}