{% extends "base_formation.html" %}
{% block Contenu %}
<div class="span12">
    <div class="content" data-etablissement-id="{{ etablissement.id }}">
        <h3>{{ etablissement.nom }}</h3>

        <ul class="breadcrumb">
            <li>
                <a href="{% url formation_partenaire_autre_liste token %}">Liste des partenaires non membres</a>
                <span class="divider">/</span>
            </li>
            <li class="active">
                Ajouter un partenaire non membre de l'AUF
            </li>
        </ul>

        <h4>Ajouter un partenaire non membre de l'AUF</h4>
        <hr>
        {% include "partenaire-autre/form.html" %}
    </div>
</div>
{% endblock %}