{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Aide</h3>

<p>
Étudiants et futurs étudiants, enseignants, chercheurs, responsables d'établissement, ce site est pour vous!
</p>

<hr />

<h4>Étudiants et futurs étudiants, enseignants, chercheurs, responsables d'établissement</h4>

<p>
Vous souhaitez consulter la liste des formations francophones -<br />un court film vous offre une démonstration de l'utilisation de ce site : <a href="">voir la démo</a>.
</p>
<p>
Deux options s'offrent à vous pour trouver une formation :
</p>

<h5><a href="{% url home_accueil %}">Carte</a></h5>
<p>
Pour trouver des formations dispensées dans un pays en particulier, <a href="{% url home_accueil %}">cliquer sur le pays ou territoire concerné</a>.
</p>
<p>
Vous arriverez directement sur la page de résultats de recherche avec toutes les formations offertes pour le pays sélectionné.<br />
Vous pourrez ensuite <b>affiner votre recherche</b>.
</p>

<h5><a href="{% url home_formation_rechercher %}">Rechercher</a></h5>
<p>
La zone de recherche présente toutes les formations disponibles sur ce site.<br />
Pour cibler les formations qui vous intéressent, trois options intuitives s'offrent à vous.
</p>

<h6>1. Recherche textuelle</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Le moteur de recherche textuel actuel permet uniquement des recherches simples.<br />
    <b>Saisir une chaîne de caractères exacte</b>, la recherche de cette chaîne se fera dans :
    </p>
    <ul>
        <li>l'<b>intitulé</b> de la formation</li>
        <li>les <b>disciplines</b> associées à la formation</li>
        <li>le <b>niveau de diplôme</b> de la formation</li>
        <li>le nom de l'<b>établissement</b> qui dispense la formation</li>
        <li>le nom du <b>pays</b> où est dispensée la formation</li>
        <li>le nom de la <a href="#regions"><b>région</b>*</a> où est dispensée la formation</li>
    </ul>

    <p>
    Nous travaillons actuellement pour mettre à votre disposition un moteur de recherche textuel plus puissant.
    </p>
</div>

<h6>2. Recherche avancée</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Pour affiner votre recherche, <b>choisir parmi les filtres</b> suivants :
    </p>
    <ul>
        <li><a href="#regions"><b>Région</b>*</a> : la région où est dispensée la formation</li>
        <li><b>Pays</b> : le pays où est dispensée la formation</li>
        <li><b>Établissement</b> : l'établissement membre de l'AUF qui dispense la formation</li>
    </ul>
</div>

<h6>3. Naviguer</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Vous pouvez également naviguer dans les disciplines principales associées aux formations.
    </p>
    <p>
    Les disciplines sont organisées hiérarchiquement.<br />
    Pour chacune d'elles, le nombre de formations disponibles est fourni entre parenthèses<br />
    (incluant les formations associées à ses sous-disciplines).<br />
    </p>
    <p>
    <b>Cliquer sur une discipline</b> pour :
    </p>
    <ul>
        <li>Limiter les résultats aux formations associées à cette discipline (ou ses sous-disciplines)</li>
        <li>Afficher ses sous-disciplines pour pouvoir continuer la navigation et cibler davantage</li>
    </ul>
    <p>
    Le référentiel adopté pour cela est le classement des disciplines utilisé par le programme européen Erasmus.
    </p>
</div>

<h5>Connexion</h5>

<p>
Actuellement, aucune connexion n'est nécessaire pour consulter le site.
</p>

<hr />

<h4>Représentant d'un établissement membre de l'AUF</h4>

<p>
Vous travaillez pour un établissement membre de l'AUF et vous souhaitez<br />
<b>ajouter, modifier ou supprimer des formations</b> pour votre établissement :<br />
Merci de contacter le <a href="http://www.auf.org/auf_dans_le_monde/" target="_blank">bureau régional de l'AUF</a> de votre région.
</p>

<hr />

<h4>Employé AUF</h4>

<p>
Vous êtes un employé de l'AUF et vous avez besoin d'aide, <a href="{% url home_contact %}">contactez l'équipe du projet Cartographie</a>.
</p>

<hr />
<div>
  <p>
  <a name="regions"></a> 
  * Les <a href="http://www.auf.org/auf_dans_le_monde/" target="_blank">régions</a> correspondent aux zones couvertes par les dix bureaux régionaux de l'AUF, 
  voir la liste sur le <a href="http://www.auf.org/auf_dans_le_monde/" target="_blank">site institutionnel</a> de l'AUF.
  </p>
</div>

{% endblock %}
