{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Aide</h3>

<p>
Étudiants, enseignants, chercheurs... ou grand public, ce site est pour vous!
</p>

<hr />

<h4>Étudiants, enseignants, chercheurs... ou grand public</h4>

<p>
Un court film vous offre une démonstration de l'utilisation de ce site : <a href="">voir la démo</a>.<br />
Deux options s'offrent à vous pour trouver une formation francophone.
</p>

<h5><a href="{% url home_accueil %}">Carte</a></h5>
<p>
Pour trouver des formations dispensées dans un pays en particulier, simplement <a href="{% url home_accueil %}">cliquer sur le pays ou territoire concerné</a>.
</p>
<p>
Vous arriverez directement sur la page de résultats de recherche avec toutes les formations offertes pour le pays sélectionné.<br />
Vous pourrez ensuite <b>raffiner votre recherche</b>, au besoin.
</p>

<h5><a href="">Rechercher</a></h5>
<p>
La zone de recherche vous offre toutes les formations disponibles sur ce site.<br />
Pour cibler les formations qui vous intéressent, trois options intuitives s'offrent à vous.
</p>

<h6>1. Recherche textuelle</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Le moteur de recherche textuel actuel ne permet seulement qu'une recherche simple.<br />
    <b>Saisir une chaîne de caractères exacte</b>, la recherche de cette chaîne se fera dans :
    </p>
    <ul>
        <li>le <b>libellé</b> de la formation</li>
        <li>les <b>disciplines</b> associées à la formation</li>
        <li>le <b>niveau de diplôme</b> de la formation</li>
        <li>le nom de l'<b>établissement membre de l'AUF</b> dispensant la formation</li>
        <li>le nom du <b>pays</b> où est dispensée la formation</li>
        <li>le nom de la <b>région</b> AUF où est dispensée la formation</li>
    </ul>

    <p>
    L'AUF travaille à mettre à votre disposition un moteur de recherche textuel plus puissant.
    </p>
</div>

<h6>2. Recherche avancée</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Pour affiner votre recherche, <b>choisir les filtres désirés</b> parmi :
    </p>
    <ul>
        <li><b>Région</b> : la région de l'AUF où est dispensée la formation</li>
        <li><b>Pays</b> : le pays où est dispensée la formation</li>
        <li><b>Établissement</b> : l'établissement membre de l'AUF dispensant la formation</li>
    </ul>
</div>

<h6>3. Naviguer</h6>
<div class="content-instructions" style="margin-left:20px;">
    <p>
    Vous pouvez aussi simplement naviguer dans les disciplines principales associées aux formations.
    </p>
    <p>
    Les disciplines sont organisées hiérarchiquement.<br />
    Pour chacune d'elle, le nombre de formations disponibles est fourni entre parenthèses<br />
    (incluant les formations associées à ses sous-disciplines).<br />
    </p>
    <p>
    <b>Cliquer sur une discipline</b> pour :
    </p>
    <ul>
        <li>Limiter les résultats aux formations associées à cette discipline (ou ses sous-disciplines)</li>
        <li>Afficher ses sous-disciplines pour pouvoir continuer la navigation et cibler davantage</li>
    </ul>
    <p>
    Pour information, le référentiel utilisé pour les disciplines est le référentiel utilisé dans le cadre du projet européen Erasmus.
    </p>
</div>

<h5>Connexion</h5>

<p>
Actuellement, aucune connexion n'est disponible pour les étudiants, enseignants, chercheurs ou le grand public.<br />
Seuls les employés de l'AUF peuvent se connecter afin de pouvoir gérer les formations offertes.
</p>

<hr />

<h4>Établissement membre de l'AUF</h4>

<p>
Si vous travaillez pour un établissement membre de l'AUF et que vous souhaitez<br />
<b>ajouter, modifier ou supprimer des formations</b> pour votre établissement :<br />
merci de contactez le <a href="http://www.auf.org/auf_dans_le_monde/" target="_blank">bureau régional de l'AUF</a> qui dessert votre région.
</p>

<hr />

<h4>Employés AUF</h4>

<p>
Si vous êtes un employé de l'AUF et avez besoin d'aide, <a href="{% url home_contact %}">contactez l'équipe projet cartographie</a>.
</p>

{% endblock %}
