{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Contact</h3>
<p>
Si vous avez des questions relatives à l'utilisation de ce site,<br />
merci de consulter l'<a href="{% url home_aide %}">aide</a> prévue à cet effet.
</p>
<p>
Vous êtes encouragés à nous soumettre toute demande, remarque, avis ou erreur remarquée<br />
à travers notre <a href="{% url home_feedback %}">formulaire</a> prévu à cet effet.
</p>
<p>
Toute personne travaillant dans un établissement membre de l'AUF qui souhaiterait<br />
en savoir davantage sur ce site et sur le projet cartographie est priée de contacter le<br />
<a href="http://www.auf.org/auf_dans_le_monde/" target="_blank">bureau régional de l'AUF</a> qui dessert son établissement.
</p>
{% endblock %}
