{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Crédits</h3>

La réalisation d'un site est le résultat de la mobilisation de personnes et de technologies.

<h4>Personnes et organisations</h4>
<p>
L'<a href="http://www.auf.org" target="_blank">Agence universitaire de la Francophonie</a> et ses <a href="http://www.auf.org/auf/les-membres-de-lauf/" target="_blank">établissements membres</a> ont pu réaliser ce site grâce à la mobilisation de leurs personnels.
</p>
<p>
Ce site a également été rendu possible grâce à la prestation de service de <a href="http://www.savoirfairelinux.com/" target="_blank">Savoir-faire Linux</a>.
</p>

<h4>Technologies</h4>

<p>
Les technologies utilisées pour réaliser ce site sont essentiellement des logiciels libres.
</p>

<ul>
    <li>
        <a href="https://www.djangoproject.com/" target="_blank">Django</a> : framework de développement web en Python<br />
        <i>utilisé comme moteur de base de ce site</i>
    </li>
</ul>


{% endblock %}
