{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Crédits</h3>

La réalisation d'un site est le résultat de la mobilisation de personnes et de technologies.

<h4>Personnes et organisations</h4>
<p>
L'AUF et ses établissements membres ont pu réaliser ce site grâce à la mobilisation de leurs personnels.
</p>
<p>
Ce site a également été rendu possible grâce aux prestations de service de ...
</p>

<h4>Technologies</h4>

<p>
Les technologies utilisées pour réaliser sont essentiellement des logiciels libres.
</p>

<ul>
    <li>
        <a href="https://www.djangoproject.com/">Django</a> : framework de développement web en Python<br />
        <i>utilisé comme moteur de base de ce site</i>
    </li>
</ul>


{% endblock %}
