{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Légal</h3>

<div style="width: 60%;">
<p>
Le portail de Cartographie des activités de formation est un outil développé par l'Agence universitaire de la Francophonie (AUF) et mis à disposition de ses établissements membres. Cet outil collaboratif permet de s'informer sur les formations francophones à travers le monde.
</p>
<p>
Cependant, les informations disponibles sur ce site sont fournies exclusivement <b>sous la responsabilité des établissements qui les dispensent</b>. Ces derniers ont un accès à tout moment pour modifier, ajouter ou supprimer les informations relatives à leurs formations. En effet, seules les formations validées par les référents désignés par les établissements sont affichés sur le site.
</p>
<p>
À l'échéance d'un an, l'équipe du projet Cartographie incite les établissements membres à faire une mise à jour des informations renseignées sur ce portail.
</p>
<p>
Bien que le site vise à donner une représentativité la plus large possible, le choix de faire ou non figurer ses formations francophones dans le portail développé par l'AUF relève uniquement des établissements membres. Il est possible que, pour des raisons d'ordre politique ou autre, des établissement aient opté de ne pas être représentés sur ce portail. Il se peut donc que des formations francophones ne soient pas décrites sur ce site. Veuillez dans ces cas consulter les sites Internet des établissements ou les contacter directement : voir la <a href="http://www.auf.org/auf/les-membres-de-lauf/" target="_blank">liste des établissements membres de l'AUF</a>.
</p>
<p>
Enfin, pour obtenir une large représentativité, les fiches descriptives de chaque formation donnent une présentation sommaire de l'essentiel d'une formation. Pour plus de détails, et notamment pour connaître les conditions d'admission, il est recommandé de consulter les liens Internet de chaque formation ou de contacter directement les établissements par les coordonnées de contact renseignées sur ce portail.
</p>
</div>
{% endblock %}
