{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Légal</h3>
<p>
Les informations sur les formations francophones disponibles sur ce site<br />
sont mis à votre disposition dans le seul but de <b>faciliter le repérage</b> de ces formations.
</p>
<p style="color:red">
Seules les informations obtenues directement des établissements sont des <b>informations officielles</b>.
</p>
<p>
Consultez le lien Internet de chaque formation lorsque celui-ci est disponible<br />
pour prendre connaissance des <b>informations officielles</b> concernant cette formation.
</p>
<p>
L'AUF et ses établissements membres procèderont à une mise à jour annuelle des informations de ce site.
</p>
<p>
Toutes les formations supérieures dispensées en français ou partiellement en français<br />
ne sont pas nécessairement présente sur ce site.
</p>
<p>
Si vous ne trouvez pas sur ce site de formation pour un pays ou un établissement membre<br />
vous êtes invité à consulter directement les sites Internet des <a href="http://www.auf.org/auf/les-membres-de-lauf/" target="_blank">établissements membres de l'AUF</a>.
</p>
{% endblock %}
