{% extends "base_home.html" %}

{% block Contenu %}
    <div class="span12">
        <div class="content">
            <h3>Bienvenue !</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla magnam voluptatibus in sequi delectus autem iure cum nam soluta natus modi aliquid inventore tempore fugit dolorum earum minus obcaecati a
            </p>

            <div class="actions well search-form">
                <form action="{% url home_accueil %}" method="get" class="form form-horizontal">
                    <div class="pull-left">
                        {% include "form_field.html" with field=form.s %}
                    </div>
                    <div class="actions pull-left span3">
                        <a class="btn btn-info">
                            <i class="icon-search icon-white"></i>
                            Recherchez
                        </a>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>

            {% if formations and terme_recherche %}
                <h4>Résultat de la recherche</h4>
                <table class="table">
                    {% for formation in formations %}
                    <tr>
                        <td>{{ formation.nom }}</td>
                    </tr>
                    {% endfor %}
                </table>

            {% endif %}
        </div>
    </div>
{% endblock %}