{% extends "cartographie/base.html" %}
{% load actif %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}home/css/home.css">
<link href="{{ STATIC_URL }}commun/chosen/chosen.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
<![endif]-->
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}home/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}commun/chosen/chosen.jquery.min.js"></script>
<script src="{{ STATIC_URL }}twitter-bootstrap/js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}home/js/home.js"></script>
{% endblock %}

{% block banniere %}
<div>
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav nav-pills en-tete">
        <li>
          <div id="entete">
            <span class="titre-premier">Pour trouver une formation</span>
          </div>
        </li>

        <li class="{% active request "^/$" %}"><a href="{% url home_accueil %}">CARTE</a></li>
        <li class="{% active request "^/rechercher" %}"><a href="{% url home_rechercher %}">RECHERCHER</a></li>
        <li class="{% active request "^/liste" %}"><a href="{% url home_liste %}">ÉTABLISSEMENTS</a></li>

        {% if afficher_film %}
          <li class="pull-right">
            <a href="#" onclick="$('#popup-form-film').css('z-index', 9999).show(); $('#popup-form-film').modal(); addPlaya();"  style="color:black;">
              <span>DEMO</span>&nbsp;&nbsp;
              <img src="{{ STATIC_URL }}home/img/play.png" alt="voir video" />
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block Contenu %}
<script>
  var vid_template = "<iframe id=\"vid-playa\" frameborder=\"0\" width=\"480\" height=\"389\" scrolling=\"no\" src=\"{{ film_url }}\"></iframe>";
  function addPlaya() {
      $('#video-playa-dest').html(vid_template);
  }
  function removePlaya() {
      $('#video-playa-dest').html('');
  }
</script>
<div class="span12">
  <div class="content">
  {% block Contenu_home %}
  {% endblock %}
  </div>
</div>
{% if afficher_film %}
  <div id="popup-form-film" class="modal hide fade" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: -1; display:none;">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="removePlaya();">&times;</button>
      <h3>Trouver une formation, c'est facile!</h3>
    </div>
    <div class="modal-body" id="video-playa-dest"></div>
  </div>
{% endif %}
{% endblock %}

{% block footer_addon %}
<div class="row">
  <div id="statistiques" class="span12">
    <div class="content">
      <div class="pull-left" id="info-formations">
        <p class="highlight">{{ stats_formations }}</p>
        <p class="detail">formations</p>
      </div>
      <div class="pull-left" id="info-disciplines">
        <p class="highlight">{{ stats_disciplines }}</p>
        <p class="detail">disciplines</p>
      </div>
      <div class="pull-left" id="info-etablissements">
        <span class="preambule">Dispensées dans<br/></span>
        <p class="highlight">{{ stats_etablissements }}</p>
        <p class="info"> établissements</p>
      </div>
      <p class="pull-left huge">&amp;</p>
      <div class="pull-left" id="info-pays">
        <p class="highlight">{{ stats_pays }}</p>
        <p class="info">pays<br/> différents</p>
      </div>
    </div>
  </div>
</div>

{% if dernieres %}
  <div class="row">
    <div id="last" class="span12">
      <h3>Dernières formations mises à jour</h3>
      {% for formation in dernieres %}
      <p><a href="{% url home_formation_detail formation.id %}"><strong>{{ formation }}</strong> &mdash; {{ formation.etablissement.nom }} &mdash; {{ formation.etablissement.pays.nom }} <small>(mise à jour le {{ formation.date_modification|date:"Y/m/d" }})</small></a></p>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endblock %}
