{% extends "base_home.html" %}
{% load qs_helpers %}

{% block Contenu_home %}
<div class="row">
  <div class="span9">
    <div id="etablissement-liste">
      {% for region in regions %}
      <h3>{{ region }}</h3>
      <div>
        <ul>
          {% for etablissement in regions|get_item:region %}
          <li>{{ etablissement.pays }} &mdash; <a href="{% url home_rechercher %}?etablissement={{ etablissement.id }}">{{ etablissement.nom }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="clear"></div>
{% endblock %}
