{% extends "base_home.html" %}

{% block Contenu_home %}
<div class="row">
  <div class="span9">
    <div id="etablissement-liste">
      {% for region, etablissements in regions %}
      <h3>{{ region }} - poulet</h3>
      <div>
        <ul>
          {% for etablissement in etablissements %}
          <li>{{ etablissement }} - poulet</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}

      <h3>Amérique du Nord</h3>
      <div>
        <ul>
          </li>Poulet</li>
        </ul>
      </div>

      <h3>Océanie</h3>
      <div>
        <ul>
          <li>Poulet</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
