{% extends "base_home.html" %}

{% block Contenu_home %}
<h3>Donnez-nous vos impressions!</h3>

<div style="width: 60%;">
{% include "cartographie/messages.html" %}

<p>
Votre avis nous intéresse!
</p>
<p>
L'équipe du projet Cartographie vous remercie pour tout avis, recommandation ou suggestion que vous pourriez nous donner en complétant ce simple formulaire.
</p>
<form action="{% url home_feedback %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer" />
</form>
</div>
{% endblock %}
