<p>
    <h4>
        <a href="{% url home_formation_detail formation.id %}">
            {{ formation.nom }}
            {% if formation.sigle %}({{ formation.sigle }}){% endif %}
        </a>
    </h4>
    
    {% if formation.nom_origine %}
        <i>{{ formation.nom_origine }}</i><br />
    {% endif %}
    
    <i>Discipline{% if formation.discipline_2 %}s{% endif %} : </i>
    {{ formation.discipline_1.nom }}
    {% if formation.discipline_2 %}, {{ formation.discipline_2.nom }}{% endif %}
    {% if formation.discipline_3 %}, {{ formation.discipline_3.nom }}{% endif %}
    <br />
    
    {% if formation.niveau_diplome %}
        <i>Niveau : </i>{{ formation.niveau_diplome }}
    {% endif %} 
</p>
<p>
    <b>{{ formation.etablissement.nom }}</b>
    {% if formation.etablissement.sigle %}
        ({{ formation.etablissement.sigle }})
    {% endif %},
    {% if formation.etablissement.ville %}
        {{ formation.etablissement.ville }}, 
    {% endif %}
    {{ formation.etablissement.pays.nom }}
    <br />

    {% if formation.etablissement_composante.all %}
        {% for c in formation.etablissement_composante.all %}
            {{ c.nom }},
        {% endfor %}
        <br />
    {% endif %}
</p>
