{% extends "base_home.html" %}

{% block Contenu_home %}

    <h3>{{ formations.count }} formations</h3>
    <ul>
    {% for formation in formations %}
        <li>{% include "formation_abrege.html" %}</li>
    {% endfor %}
    </ul>
    {% if formations.paginator.num_pages > 1 %}
    <div class="pagination">
        <ul>
            {% if formations.has_previous %}
                <li>
                    <a href="?page={{ formations.previous_page_number }}">
                        &laquo;
                    </a>
                </li>
            {% endif %}
            <li>
                <span>
                    Page {{ formations.number }} de {{ formations.paginator.num_pages }}
                </span>
            </li>
            {% if formations.has_next %}
                <li>
                    <a href="?page={{ formations.next_page_number }}">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
