{% extends "base_home.html" %}
{% load qs_helpers %}
{% block Contenu_home %}

    <h3>
    {% if formations.paginator.count == 0 %}
        0 formation
    {% elif formations.paginator.count == 1 %}
        1 formation
    {% else %}
        {{ formations.paginator.count }} formations
    {% endif %}
    </h3>
    <p class="pull-right">Par page: <a href="?{% qs_replace request.GET parpage=5 %}">5</a> | <a href="?{% qs_replace request.GET parpage=10 page=1%}">10</a> | <a href="?{% qs_replace request.GET parpage=15 page=1%}">15</a> | <a href="?{% qs_replace request.GET parpage=20 page=1%}">20</a></p>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                {% for column in columns %}
                    <th class="span1">
                        <a href="?tri={% if tri.name == column.sort_name and tri.asc %}-{% endif %}{{ column.sort_name }}{% if terme_recherche %}&s={{ terme_recherche }}{% endif %}">{{ column.name }}
                        {% if tri.name == column.sort_name %}
                            <span class="{% if tri.asc %}icon-chevron-up{% else %}icon-chevron-down{% endif %}">
                        {% endif %}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            {% include "formation_abrege.html" %}
        {% endfor %}
        </tbody>
    </table>

    {% if formations.paginator.num_pages > 1 %}
    <div class="pagination">
        <ul>
            {% if formations.has_previous %}
                <li>
                  <a href="?page={{ formations.previous_page_number }}{% if tri %}&tri={{ tri.tri }}{% endif %}{% if terme_recherche %}&s={{ terme_recherche }}{% endif %}&parpage={{ formations.paginator.per_page }}">
                        &laquo;
                    </a>
                </li>
            {% endif %}
            <li>
                <span>
                    Page {{ formations.number }} de {{ formations.paginator.num_pages }}
                </span>
            </li>
            {% if formations.has_next %}
                <li>
                  <a href="?page={{ formations.next_page_number }}{% if tri %}&tri={{ tri.name }}{% endif %}{% if terme_recherche %}&s={{ terme_recherche }}{% endif %}&parpage={{ formations.paginator.per_page }}">
                        &raquo;
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
