<form action="{{ submit_url }}" method="post"
      class="form-horizontal form-auf">
    {% csrf_token %}

    {% for field in form %}
        {% include "form_field.html" with field=field %}
    {% endfor %}

    <div class="control-group">
        <div class="controls">
            <input type="{% if json_request %}button{% else %}submit{% endif %}"
                class="btn btn-success"
                value="Ajouter la composante"
                {% if json_request %}onclick="javascript:AUF.formation.popupComposanteSubmit()"{% endif %}>
        </div>
    </div>
</form>