{% extends "base_formation.html" %}
{% block Contenu %}
<div class="span12">
  <div class="content">
    <h3>Modifier votre mot de passe</h3>

    <form action="{% url formation_personne_modifier_password secret %}" method="POST" class="form-horizontal form-auf">
      {% csrf_token %}

      {% for field in form %}
      {% include "form_field.html" with field=field %}
      {% endfor %}

      <div class="control-group">
        <div class="controls">
          <input type="submit" class="btn btn-success" value="Modifier votre mot de passe" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
